.color{
color: rgb(255, 233, 32);
}

section nav {
    background:#242526 ;
    overflow:hidden;
}

section nav ul {
  list-style:none ;
}

section nav ul li {
     float:left;
}

section nav ul li a {
    padding: 2em 1.25em;
    display:block;
    color: #fff;
    text-decoration:none;}



section nav ul li a:hover {
    background: #3A3B3C;
}
section, .main, footer {
     
    width:100%;
    max-width: 87.5em;
    margin: 0em auto; 
}